<p>
  <b>Prova:</b>
  <%=h @auto_prova_rapporto_item.prova_id %>
</p>

<p>
  <b>Rapporto:</b>
  <%=h @auto_prova_rapporto_item.rapporto_id %>
</p>

<p>
  <b>Prezzo:</b>
  <%=h @auto_prova_rapporto_item.prezzo %>
</p>


<%= link_to 'Edit', edit_auto_prova_rapporto_item_path(@auto_prova_rapporto_item) %> |
<%= link_to 'Back', auto_prova_rapporto_items_path %>