<p>
  <b>Udm item:</b>
  <%=h @variabile.udm_item_id %>
</p>

<p>
  <b>Nome:</b>
  <%=h @variabile.nome %>
</p>

<p>
  <b>Nome esteso:</b>
  <%=h @variabile.nome_esteso %>
</p>

<p>
  <b>Simbolo:</b>
  <%=h @variabile.simbolo %>
</p>

<p>
  <b>Funzione:</b>
  <%=h @variabile.funzione %>
</p>

<p>
  <b>Tipo:</b>
  <%=h @variabile.tipo %>
</p>

<p>
  <b>Min:</b>
  <%=h @variabile.min %>
</p>

<p>
  <b>Max:</b>
  <%=h @variabile.max %>
</p>

<p>
  <b>Decimali:</b>
  <%=h @variabile.decimali %>
</p>

<p>
  <b>Forza zero:</b>
  <%=h @variabile.forza_zero %>
</p>

<p>
  <b>Note:</b>
  <%=h @variabile.note %>
</p>


<%= link_to 'Edit', edit_variabile_path(@variabile) %> |
<%= link_to 'Back', variabili_path %>