<h1>Editing udm_item</h1>

<% form_for(@udm_item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @udm_item %> |
<%= link_to 'Back', udm_items_path %>