<p>
  <b>Prova:</b>
  <%=h @prova_rapporto_item.prova_id %>
</p>

<p>
  <b>Rapporto:</b>
  <%=h @prova_rapporto_item.rapporto_id %>
</p>

<p>
  <b>Prezzo:</b>
  <%=h @prova_rapporto_item.prezzo %>
</p>


<%= link_to 'Edit', edit_prova_rapporto_item_path(@prova_rapporto_item) %> |
<%= link_to 'Back', prova_rapporto_items_path %>