<p>
  <b>Matrice:</b>
  <%=h @campione.matrice_id %>
</p>

<p>
  <b>Cliente:</b>
  <%=h @campione.cliente_id %>
</p>

<p>
  <b>Etichetta:</b>
  <%=h @campione.etichetta %>
</p>

<p>
  <b>Nome richiedente:</b>
  <%=h @campione.nome_richiedente %>
</p>

<p>
  <b>Data richiesta:</b>
  <%=h @campione.data_richiesta %>
</p>

<p>
  <b>Data scadenza:</b>
  <%=h @campione.data_scadenza %>
</p>

<p>
  <b>Numero:</b>
  <%=h @campione.numero %>
</p>

<p>
  <b>Suggello:</b>
  <%=h @campione.suggello %>
</p>

<p>
  <b>Campionamento:</b>
  <%=h @campione.campionamento %>
</p>

<p>
  <b>Non conforme motivo:</b>
  <%=h @campione.non_conforme_motivo %>
</p>

<p>
  <b>Data invio email:</b>
  <%=h @campione.data_invio_email %>
</p>

<p>
  <b>Data invio sms:</b>
  <%=h @campione.data_invio_sms %>
</p>

<p>
  <b>Status:</b>
  <%=h @campione.status %>
</p>

<p>
  <b>Note:</b>
  <%=h @campione.note %>
</p>


<%= link_to 'Edit', edit_campione_path(@campione) %> |
<%= link_to 'Back', campioni_path %>