<p>
  <b>Nome:</b>
  <%=h @cliente.nome %>
</p>

<p>
  <b>Denominazione:</b>
  <%=h @cliente.denominazione %>
</p>

<p>
  <b>Codice:</b>
  <%=h @cliente.codice %>
</p>

<p>
  <b>Indirizzo:</b>
  <%=h @cliente.indirizzo %>
</p>

<p>
  <b>Cap:</b>
  <%=h @cliente.cap %>
</p>

<p>
  <b>Comune:</b>
  <%=h @cliente.comune %>
</p>

<p>
  <b>Provincia:</b>
  <%=h @cliente.provincia %>
</p>

<p>
  <b>Partita iva:</b>
  <%=h @cliente.partita_iva %>
</p>

<p>
  <b>Codice fiscale:</b>
  <%=h @cliente.codice_fiscale %>
</p>

<p>
  <b>Tel:</b>
  <%=h @cliente.tel %>
</p>

<p>
  <b>Fax:</b>
  <%=h @cliente.fax %>
</p>

<p>
  <b>Email:</b>
  <%=h @cliente.email %>
</p>

<p>
  <b>Cellulare per sms:</b>
  <%=h @cliente.cellulare_per_sms %>
</p>

<p>
  <b>Titolare cellulare:</b>
  <%=h @cliente.titolare_cellulare %>
</p>

<p>
  <b>Password:</b>
  <%=h @cliente.password %>
</p>

<p>
  <b>Note:</b>
  <%=h @cliente.note %>
</p>


<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clienti_path %>