<h1>New rapporto</h1>

<% form_for(@rapporto) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tipologia_id %><br />
    <%= f.text_field :tipologia_id %>
  </p>
  <p>
    <%= f.label :campione_id %><br />
    <%= f.text_field :campione_id %>
  </p>
  <p>
    <%= f.label :numero %><br />
    <%= f.text_field :numero %>
  </p>
  <p>
    <%= f.label :prezzo %><br />
    <%= f.text_field :prezzo %>
  </p>
  <p>
    <%= f.label :data %><br />
    <%= f.date_select :data %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', rapporti_path %>