<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <% if params[:format] == 'pdf' %>
      <title>Fattura n. <%= @fattura.numero %> - <%= @fattura.cliente.nome %></title>
      <meta name="author" content="Lab. Barbera"/>
      <meta name="subject" content="Fattura"/>
      <meta name="keywords" content="PDF, fattura"/>
    <% end %>
    
    <!-- CSS per il PDF -->
    <%= stylesheet_link_tag "fattura", :media => "all" %>
    <%= stylesheet_link_tag "prince", :media => "all" %>

  </head>
  <body>
    <%= yield %>
  </body>
</html>