<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <% if params[:format] == 'pdf' %>
      <title>Rapporto di prova <%= "n. #{@rapporto.numero} " unless @rapporto.numero.blank? %>- <%= @rapporto.campione.cliente.nome %></title>
      <meta name="author" content="Lab. Barbera"/>
      <meta name="subject" content="Rapporto di prova "/>
      <meta name="keywords" content="PDF, rapporto di prova"/>
      
      <!-- CSS inline per PDF con percorsi assoluti -->
      <style type="text/css">
        <%= File.read(Rails.root.join('public', 'stylesheets', 'rdp.css')) rescue "" %>
        <%= File.read(Rails.root.join('public', 'stylesheets', 'prince.css')) rescue "" %>
      </style>
    <% else %>
      <!-- CSS per il browser normale -->
      <%= stylesheet_link_tag "rdp", :media => "all" %>
      <%= stylesheet_link_tag "prince", :media => "all" %>
    <% end %>

  </head>
  <body>
    <%= yield %>
  </body>
</html>